**Q1. What is a database? Differentiate between SQL and NoSQL databases.**

- A database is on organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS)

- Differences between SQL and NoSQL:
    - SQL is primarily called RDBMS or Relational Databases, whereas NoSQL is a Non-relational or Distributed Database.
    - SQL are table-based databases, whereas NoSQL databases can be document-based, key-value pairs, and graph databases.
    - SQL databases are vertically scaling and NoSQL databases are horizontally scaling.
    - SQL databases have a predefined schema, whereas NoSQL databases use a dynamic schema for unstructured data.

**Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.**

- Data Definition Language (DDL) is used to create and modify the structure of objects in a databases using predefined commands and specific syntax. These database objects include tables, sequences, locations, aliases, schemas and indexes.

- The CREATE statement is used to create a new SQL object.
```sql
CREATE TABLE [table name] ([column definitions]) [table parameters];

CREATE TABLE if not exists test_table (c1 INT, c2 FLOAT, c3 VARCHAR(30), c4 BOOLEAN);
```

- The DROP statement is used to drop an existing object.
```sql
DROP OBJECT type object name;

DROP TABLE test_table;
```

- The ALTER statement is used to add, delete, modify an existing object.
```sql
ALTER object type object name parameters;

ALTER TABLE test_table;
DROP COLUMN c5;
```

- The TRUNCATE statement is used to delete the data inside a object, but not the object itself.
```sql
TRUNCATE OBJECT type object name;

TRUNCATE TABLE test_table;
```

**Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.**

- DML is Data Manipulation Language which is used to manipulate data itself. For example: insert, update and delete are instructions in SQL.

- INSERT command is used to add data to a table.
```sql
INSERT into [table name] values ([data]);

INSERT into test_table values (10, 'pwskills', 345.6, 0);
```

- UPDATE command is used to update a table or row or column in the table. 
```sql
UPDATE [table name] set [column name] = value where condition;

UPDATE test_table set c2 = "pwskills"" where c1 = 10;
```

- DELETE command is used to delete a table row or some data from a table in the database.
```sql
DELETE from [table name] where condition;

DELETE from test_table where c1 > 20
```

**Q4. What is DQL? Explain SELECT with an example.**

- DQL stands for Data Query Language is to perform the query on the data inside the schema or object (i.e table, index, view, function, etc).

- SELECT command is used to view the temporary table output from a database.
```sql
SELECT * from [table_name]

SELeCT * from test_table
```
- In the above example, we query all the data in the test_table database.

**Q5. Explain Primary Key and Foreign Key.**

- Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.

- Foreign Key: A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often by the primary key) of another table. Ex: STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

**Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.**

- A cursor is an object which helps to execute the query and fetch the records from the database.
- An execute() method executes the given database operation (query or command).

In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "09102003"
)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
mydb.close()

**Q7. Give the order of execution of SQL clauses in an SQL query.**

- Order of Execution:
1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.
2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.
3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.
4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.
5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.
6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.
7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.